body{
    background:#0b0b0b;
    color:white;
    font-family:Arial;
    margin:0;
}

.portfolio {
    box-sizing: border-box;
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 40px;
    padding: 50px 10%;
}

.project{
    position:relative;
    height:500px;
    overflow:hidden;
    border-radius:10px;
    display:block;
}

.image img{
    width:100%;
    transition:transform 8s linear;
}

.project:hover img{
    transform:translateY(-70%);
}

.overlay {
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 25px;
    background: linear-gradient(#00000029, rgba(0, 0, 0, 0.9));
    text-align: center;
}

.overlay h3 {
    margin: 0;
    font-size: 24px;
    color: #fff;
}
